<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a new user</title>
</head>
<body>
    <form action="/user/new" method="post">
        <h2>Enter valid username</h2>
        <input type="text" name="NewUsername"></input>
        <h2>Enter valid Email</h2>
        <input type="email" name="NewEmail"></input>
        <h2>Enter valid password</h2>
        <input type="password" name="NewPass"></input>
        <div>
            <button>Submit</button>
        </div>
    </form>
</body>
</html>